.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

.main_header {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.navbar__item {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.2rem;

    span {
      margin-right: 8px;
    }
    }

.icon-heart_line { //icon temporaire car il n'y a pas de icon search
      font-size: 20px;
      size: var(e900, 1rem);
      color: orange;
    }