@import "normalize";
@import "webfonts";
@import "variable";
@import "layout";
@import "header";
@import "footer";
@import "speaker";


*, *::before, *::after {
    box-sizing: border-box 
  }

body {
    font-family: 'maven', sans-serif;
}

a, li, ul {
    text-decoration: none;
    color: var(--text-color);
  }

  h1, h2, h3, h4 {
    font-size: 1rem;
    color: red;
  }

.banner__pattern {
    display: flex;
}

